html {
  box-sizing: border-box;
  line-height: 1.5;
  background-color: #dbd6cf;
}

*, *::before, *::after {
  box-sizing: inherit;
}
h1 {
  font-family: "bevan", cursive;
  color:#fff;
  text-align: center;
}

nav li {
margin: 0;
padding: 0;
}
