html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}
body {
  margin: 0;
}
header  {
  background: #79756f;
  padding: .6em;
}

header h1 {
  font-family: "bevan", cursive;
  color:#fff;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 0;
}

header nav {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  color: #fff;
}

header nav li {
  font-family: sans-serif;
  display: inline-block;
  line-height: 1.5;
  margin: 0;
  max-width: 20em;
  padding: 0.5em 0.75em;
  background-color: #713837;
  border-radius: 5px;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: #fff;
}

li:hover {
  background-color: #f33;
  color: #fff;
}
