html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background: #79756f;
  padding: .6em;
  border: 3px solid #595652;
}

h1 {
  font-family: "Bevan", serif;
  color:#fff;
}

header h1 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 0;
}

header nav {
  text-align: center;
  margin: .3em;
  list-style-type: none;
  color: #fff;
}

header nav li {
  font-family: sans-serif;
  display: inline-block;
  line-height: 1.5;
  margin: 0.1em;
  max-width: 20em;
  padding: 0.5em 0.75em;
  background-color: #713837;
  border-radius: 5px;
  text-align: center;
}

header nav li a {
  text-decoration: none;
  color: #fff;
}

header nav li a:hover {
  background-color: #f33;
  color: #fff;
}
